<div class="gcart">
    <img class="gcart__close" src="{{ "x.svg" | asset_url }}" alt="">
    <h4 class="gcart__title"> {{ 'general.cart.cart_title' | t }}</h4>

    <div class="gcart__full">
        <div class="gcart__content" >

        </div>

        <div class="gcart__footer">
            <div class="subtotal-price">
              <h4>{{ 'general.cart.subtotal' | t }}</h4>
              <p id="total_price"></p>
            </div>
            <p>{{ 'general.cart.calculate_checkout' | t }}</p>
            <div class="cart__affirm">
              <img src="https://cdn.shopify.com/s/files/1/0625/1184/1457/files/affirm.svg?v=1666009227" alt="affirm">
               <p>pay as low as 56/mo <a href="#!">Learn More</a> </p>
            </div>

            <a href="https://again-faster-umar.myshopify.com/62511841457/checkouts/6df1f721aec1abf833c1bad82f3a1902" class="checkout">{{ 'general.cart.continue_to_checkout' | t }}</a>
        </div>
    </div>

</div>