 <div class="blur"> </div>
 <div class="cart">
        <img class="close__cart" src="{{ "x.svg" | asset_url }}" alt="">
        <h4 class="cart__title"> {{ 'general.cart.cart_title' | t }}</h4>
       
  
   
     
    <div class="cart__full" id="cart_full" >
      <div class="cart__content">
<!--             
        {% for item in cart.items %}
       
        <div class="cart__product" id="{{ item.variant_id }}" >
          <div class="product__img">
            <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">

          </div>
          <div class="product__content">
              <h5 id="product_title">{{ item.product.title }}</h5>
              <p id="variant_title">{{ item.variant.title }}</p>

              <div class="qty" >
                <img id="minus" class="qty__controller" src="{{ "minus.svg" | asset_url }}" alt="minus">
                <span id="qty" class="qty_class"> {{ item.quantity }} </span>
                <img id="plus" class="qty__controller" src="{{ "plus.svg" | asset_url }}" alt="plus">
              </div>
          </div>
          <div class="product__prc">
              <p id="product_total_price">{{ item.price |times: item.quantity | money }}</p>
              <img class="remove-product" src="{{ "remove.svg" | asset_url }}" alt="remove">
          </div>

        </div>  

        {% endfor %} -->
      </div>  

          <div class="cart__footer">
              <div class="subtotal-price">
                <h4>{{ 'general.cart.subtotal' | t }}</h4>
                <p id="total_price"></p>
              </div>
              <p>{{ 'general.cart.calculate_checkout' | t }}</p>
              <div class="cart__affirm">
                <img src="https://cdn.shopify.com/s/files/1/0625/1184/1457/files/affirm.svg?v=1666009227" alt="affirm">
                 <p>pay as low as 56/mo <a href="#!">Learn More</a> </p>
              </div>

              <a href="https://again-faster-umar.myshopify.com/62511841457/checkouts/6df1f721aec1abf833c1bad82f3a1902" class="checkout">{{ 'general.cart.continue_to_checkout' | t }}</a>
          </div>

    </div>
   


    <div class="cart__empty">
        <h4>{{ 'general.cart.empty_cart_text' | t }}</h4>
        <button>{{ 'general.cart.shop_best_seller' | t }}</button>
    </div>
  
       
 </div>





