
    <div class="active-filters">
        <a href="{{ collection.url }}?sort_by={{ collection.sort_by }}" class="active-filters__clear">Clear all</a>
    
        {%- for filter in collection.filters -%}
          {%- if filter.type == "price_range" -%}
            {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
              <a class="active-filters__remove-filter" href="{{ filter.url_to_remove }}">
                {%- assign min_value = filter.min_value.value | default: 0 -%}
                {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                {{ min_value | money }} - {{ max_value | money }} 
                <span class="x-icon">&#10006</span> 
              </a>
            {%- endif -%}
          {%- else -%}
            {%- for filter_value in filter.active_values -%}
              <a class="active-filters__remove-filter" href="{{ filter_value.url_to_remove }}">
                {{ filter_value.label }} <span class="x-icon">&#10006</span> 
              </a>
            {%- endfor -%}
          {%- endif- %}
        {%- endfor -%}
      </div>