<!-- /templates/customers/account.liquid -->
<style>
  .account {
    padding: 80px 0 120px;

  }
</style>
<div class="account">
  <div class="container">
          
    <h2>{{customer.first_name}}</h2>
    <h4>{{customer.last_name}}</h4>

    {% if customer.default_address %}
      <h5>Address</h5>
      <p>{{ customer.default_address.address1 }}</p>
      {% if customer.default_address.address2 != "" %}
        <p>{{ customer.default_address.address2 }}</p>
      {% endif %}
      <p>{{ customer.default_address.city}}, {% if address.province_code %}{{ customer.default_address.province_code }}, {% endif %}{{ customer.default_address.country }}</p>
      <p>{{ customer.default_address.zip }}</p>
      <p>{{ customer.default_address.phone }}</p>
    {% endif %}

    <div id="customer_orders">
      <h5>Orders</h5>
      {% paginate customer.orders by 10 %}
      {% if customer.orders.size != 0 %}
        {% for order in customer.orders %}
          <!-- order details here -->
        {% endfor %}
      {% else %}
        <p>You haven't placed any orders yet.</p>
      {% endif %}
      {{ paginate | default_pagination }}
      {% endpaginate %}
    </div>

  </div>   
</div>