{{ "style.product-hero.css" | asset_url | stylesheet_tag }}

 <!-- Link Swiper's CSS -->
 <link
 rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

<div class="product-hero ">
    <div class="product-hero__grid product">
            
        <div class="product__gallary">
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                {% for item in product.images %}
                    <div class="swiper-slide">
                        <img src="{{item | img_url: "master" }}" alt="{{ item.alt | escape}}">
                    </div>                        
                {% endfor %}             
             
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
              
        <div class="product__datails">
          <h3 >{{ product.title }}</h3>        
            <p class="product__price">{{ product.price | money }}</p>        
         
          <div class="review">
            {% render "icon-star" %}   <p>18 reviews</p>
          </div>
          <div class="review">
            {% render "icon-affirm" %}   <p>pay as low as 56/mo Learn More</p>
          </div>

          <p>
             {{ product.description }}
          </p>

          <form  class="product-form" id="form" data-id="{{product.has_only_default_variant}}">         
          
             {% if product.has_only_default_variant %}
                <span id="{{ product.selected_or_first_available_variant.id }}"
                 class="no-variant"  > </span>
              {% else %} 
                <div class="product-options">                  
                 {% for variant in product.variants %}                
                    <label class="option-wrp" >
                      <input type="radio" id="{{ variant.id }}" 
                      name="select_one" class="option"                                          
                      value="{{ variant.id }}"  
                                        
                      {% if variant == product.selected_or_first_available_variant %} checked {% endif %}  
                      {% if variant.inventory_quantity == 0 %} disabled {% endif %}   >

                      <span class="p option__text">{{ variant.title }}</span>
                    </label>                          
                                         
                  {% endfor %}                 
              </div>
             {% endif %}  

              <p class="free-shipping">Available for Free shipping!</p>
              <button id="add_card_btn" type="submit" class="p2 add-card-btn" >Add to cart</button>
        
          </form>

          {% assign frequent_product = product.metafields.accentuate.frequent_product | split: "|"%}
          {% if frequent_product.size >0 %}
            
          
          <h4>Frequently bought with</h4>
          <div class="frequently-bought-with">
            {% for product in frequent_product %}          
            
            <div class="card-wrp" >
              <div class="img-wpr">
                <img src="{{ all_products[product].featured_image | img_url:"medium" }}" alt="">
              </div>
              <div class="card-context">
                <p> {{ all_products[product].title }}</p>
                <button  class="fbw_add_to_cart"
                 value="{{ all_products[product].selected_or_first_available_variant.id }}" >Add to Cart</button>
              </div>
            </div>
                       
            {% endfor %}

            
          </div>
          {% endif %}
        
    
        </div>
        

    </div>
</div>




 <!-- Swiper JS -->
 <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

 <!-- Initialize Swiper -->
 <script>
   var swiper = new Swiper(".mySwiper", {
     direction: "vertical",
     pagination: {
       el: ".swiper-pagination",
       clickable: true,
     },
   });
 </script>

 <script>
  let variant = {{ product.variants | json }}
  // change prices depending on the variant
  let option_arr = document.querySelectorAll(".option")
  let variant_price = document.querySelector(".product__price")
   for (let i = 0; i < option_arr.length; i++) {
     if(option_arr[i].checked) {
      variant_price.innerHTML = `$${variant[i].price/100}.00`
     }
     option_arr[i].addEventListener("click", e => {
        if(e.target.id == variant[i].id) {
          variant_price.innerHTML = `$${variant[i].price/100}.00`
        }

      })
    
   }

  //  function toggleCart() {
  //   cart.classList.toggle("on")
  //   body.classList.add("body-hover")
  //   cart_blur.classList.add("db")
  //  }
  //  function addToCart(id, qtty) {
  //   let form_data = {
  //     'items': [{
  //       'id': id,
  //       'quantity': qtty
  //       }]
  //     };
  //     fetch( window.Shopify.routes.root + 'cart/add.js', {
  //           method: 'POST',
  //           headers: {
  //             'Content-Type': 'application/json'
  //           },
  //           body: JSON.stringify(form_data)
  //     })
  //     .then(response => {
  //       this.toggleCart()
  //       // getDetails()
  //       return response.json();

  //     })
  //     .then(data => {
  //       console.log(data);
  //     })     
  //     .catch((error) => {
  //       console.error('Error:', error);
  //     });
  //  }
  
  //  //  freqently bought with section >>> add to cart   
  // let fbw_add_to_cart = document.querySelectorAll(".fbw_add_to_cart")
  // fbw_add_to_cart.forEach(item => {
  //   item.addEventListener("click", e => {
  //     addToCart(e.target.value, 1)      
      
  //   })
  // })
  // //  form add to cart
  //  let form = document.querySelector("#form")  
  //  form.addEventListener("submit", (e)=> {
  //     e.preventDefault()
  //    let var_id = form.querySelector(".option:checked").value
  //    addToCart(var_id, 1)        

  //   })

 </script>